@import 'global_mixin';

body {
  font-family:$font-family;
  font-weight:lighter;
  overflow:hidden;
  background-color:$color-body-bg;
}

.page {
  position:absolute;
  width:100vw;
  height:100vh;
  background-color:$color-page-bg;
  overflow-y:hidden;

  .container {
    margin-top:23px;
  }

  .nav {
    background-color: $color-header;
    height:40px;
  }

  .pre-scrollable {
    max-height:95vh;
    padding-bottom:10vh;
    background-color:$color-page-bg;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
  }

  .form-group {
    margin:13px 0 0 0;
  }

  .form-group .row {
    width:100%;
    height:35px;
    margin:0;
    border:0;
    border-radius:0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  Label {
    color:rgb(141, 141, 141);
    width:100px;
    height:19px;
    font-size:11pt;
  }

  Input {
    border:0;
    margin:0;
    padding:0;
    margin-top:2px;
    color:rgb(59,63,66);
    font-size:11pt;
  }

  .col_label {
    flex-grow: 3;
    padding:0 0 0 12px;

    Label {
      width:100%;
    }

    @media (max-width:320px) {
      flex-grow:3;
    }
  }

  .col_input {
    flex-grow: 7;
    padding:0;

    @media (max-width:320px) {
      flex-grow:6;
    }
  }

  ::placeholder {
    color:rgba(59, 63, 66, 0.4);
    font-size:11pt;
    letter-spacing:0;
  }

  .menu_separator {
    background-color:rgb(214, 199, 193);
    width:2px;
    height:20px;
    margin:0 3px;
  }

}

#indicator {
  background:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  z-index:100;
  position:absolute;

  img {
    width:50px;
    margin-left:44%;
    margin-top:35vh;
  }
}

#alert-modal {
  display:'flex';
  height:'90%';
  align-items:'center';
  justify-content:'center';

  .modal-body {
    overflow-wrap:break-word;
    text-align: center;
    @media (max-width:500px) {
      min-width:80vw;
      max-width:90vw;
    }
    @media (min-width:501px) {
      min-width:70vw;
      max-width:70vw;
    }
  }

  .modal-footer {

  }

  .modal-open .modal {
    overflow-y:hidden;
  }

  .modal.fade .modal-dialog {
    transform:translate(0, -5%);
  }

  .modal.show .modal-dialog {
    transform:translate(0, 0);
  }
}

#header {
  color: white;

  p {
    font-size:14pt;
  }

  #back_button {
    @include image_res("btn_back.png", 22px, 22px);
  }

  #close_btn {
    @include image_res("btn_close@2x.png", 22px, 22px);
  }
}
