
.page {
  position:absolute;
  width:100vw;
  height:100vh;
  background-color:white;
  overflow-y:hidden;
}

.pre-scrollable {
  max-height:95vh;
  padding-bottom:10vh;
  background-color:white;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}
