.center-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.debug-box {
  background-color: #ffcc11;
}

.page {
  height:100vh;
  background-color:white;
  overflow:hidden;
}

.pre-scrollable {
  max-height:100vh;
  background-color:white;
  padding-bottom:20vh;
  -webkit-overflow-scrolling:touch;
}
