$font-family: sans-serif;
$body-bg-color:rgb(247,247,247);
$header-color:rgb(255,169,7);
$page-bg-color:white;

body {
  overflow:hidden;
  background-color:$body-bg-color;
}

.page {
  position:absolute;
  width:100vw;
  height:100vh;
  background-color:$page-bg-color;
  overflow-y:hidden;

  .nav {
    background-color: $header-color;
    height:40px;
  }

  .pre-scrollable {
    max-height:95vh;
    padding-bottom:10vh;
    background-color:$page-bg-color;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
  }

  .modal-body {
    overflow-wrap:break-word;
    text-align: center;
    @media (max-width:500px) {
      min-width:80vw;
      max-width:90vw;
    }
    @media (min-width:501px) {
      min-width:60vw;
      max-width:60vw;
    }
  }

  .modal-footer {

  }

  .modal-open .modal {
    overflow-y:hidden;
  }

  .modal.fade .modal-dialog {
    transform:translate(0, -5%);
  }

  .modal.show .modal-dialog {
    transform:translate(0, 0);
  }
}
