.center-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.debug-box {
  background-color: #ffcc11;
}

input[type='search']::-webkit-search-cancel-button {
    /* -webkit-appearance: none; */
    /* -moz-appearance: */
}
