$font-family: AppleSDGothicNeo-Regular, sans-serif;
$color-body-bg:rgb(242,242,242);
$color-header:rgb(255,169,7);
$color-page-bg:white;
$color-greyish-brown:rgb(74,74,74);
$color-warm-grey:rgb(161,136,127);
$color-alert-msg:rgb(3,3,3);

@mixin image_res($filename, $w, $h) {
  width:$w;
  height:$h;
  background-image:url("../res/img/" + $filename);
  background-size:cover;
}

@mixin adb_button($color, $width, $height) {
    width:$width;
    height:$height;
    background:$color;
    border-radius:24px;
    border:0px;
    color:white;
    font-weight:lighter;
    font-size:11pt;
    cursor: pointer;

    p {
      margin-top:1px;
    }
}
