@import 'global_mixin';

#password_find_page {
  Button {
    @include adb_button($color-warm-grey, 180px, 36px);
    margin-top:24px;
  }

  #footer_msg {
    margin-top:30px;
    width:256px;
    text-align:center;
    color:$color-greyish-brown;
  }
}
